.blog__nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;

  a {
  }
}

.blog__posts {
  display: grid;
  margin-top: 2rem;

  @include md {
  }

  @include lg {
  }
}

.blog__year {
  margin: 3rem 0 1rem;
}
