.post-card {
  position: relative;
  text-decoration-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-inline: -1.25rem;
  padding: 0.5rem 1.25rem;
  text-decoration: none;

  @include md {
    min-height: 3.25rem;
    margin-inline: -2rem;
    padding: 0.5rem 2rem;
  }

  &:hover,
  &:focus-visible {
    text-decoration-color: currentColor;
    z-index: 1;
    background: rgb(0 0 0 / 0.04);

    .post-card__image-wrapper {
      width: 10rem;
      height: 5rem;

      @include lg {
        width: 16rem;
        height: 8rem;
      }
    }
  }
}

.post-card:has(.post-card__image-wrapper) {
  @include md {
    min-height: 3.25rem;
    margin-inline: -2rem;
    padding: 0.5rem 2rem;
    padding-right: 12.5rem;
  }

  @include lg {
    padding-right: 18.5rem;
  }
}

.post-card__title {
  color: inherit;
}

.post-card__image-wrapper {
  display: none;

  @include md {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    display: block;
    flex-shrink: 0;
  }
}

.post-card__image {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0 0 0 / 0.05);
}
