.post__header {
  margin-bottom: 2rem;
}

.post__date {
  display: block;
  color: var(--text-light);
  margin-bottom: 0.25rem;
}

.post__tags {
  border-top: 1px solid var(--border);
  margin-top: 2rem;
  padding-top: 2rem;
}

.post__pagination {
  border-top: 1px solid var(--border);
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.post__pagination-next {
  margin-left: auto;
}
