@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&subset=latin,latin-ext);

html {
  font-size: 100%;
  overflow-x: hidden;
}

:root {
  --fg: rgb(80, 80, 85);
  --headers: rgb(30, 30, 35);
  --bg: rgb(230, 230, 230);
  --text-light: rgb(120, 120, 130);
  --accent: #e74c3c;
  --bg-content: rgb(250, 250, 250);
  --border: rgb(220, 220, 230);

  --dark-fg: rgb(155, 150, 150);
  --dark-bg: rgb(30, 30, 30);
  --dark-header: rgb(230, 220, 220);
  --dark-accent: rgb(210, 200, 200);
  --dark-accent-hover: #e74c3c;

  --link-decoration: rgb(200, 200, 210);

  --content-width: 48rem;

  --noise-image: url(/noise.png);
}

body {
  font-family: "Roboto Slab", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 1.125rem;
  line-height: 1.4;
  background-image: var(--noise-image);
  background-repeat: repeat;
  background-size: 250px 250px;
  background-color: var(--bg);
  color: var(--fg);

  @include lg {
    font-size: 1.25rem;
  }
}

*:focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}

iframe:focus-visible {
  outline: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 {
  font-weight: 400;
  color: var(--headers);
}

h1,
.h1 {
  font-size: 2em;
  line-height: 1;
}

h2,
.h2 {
  font-size: 1.5em;
  line-height: 1;
}

h3,
.h3 {
  font-size: 1.25em;
  line-height: 1.2;
}

h4,
.h4 {
  font-size: 1em;
  line-height: 1.2;
}

ul {
  padding-left: 1.5rem;
}

button {
  color: var(--fg);
}

a {
  text-decoration-color: var(--link-decoration);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  color: var(--fg);
}

a:hover {
  color: var(--accent);
  text-decoration-color: currentColor;
}

b,
strong {
  font-weight: 700;
}

// ----- Layout ----- //

.app {
  margin-inline: auto;
  min-height: calc(100vh);
  min-height: calc(100svh);
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}
