{% extends "base.html" %} {% block content %}

<a class="back-link" href="/">&laquo; Back to home</a>

<div class="blog__header">
  <h1>{{section.title}}</h1>

  <nav class="blog__nav">
    <a href="/tags/">All Tags</a>

    <p>Selected tags:</p>

    <ul>
      <li><a href="/tags/drama/">A Few Grams of Drama</a></li>
      <li><a href="/tags/thisthat/">This & That: A Self Portrait</a></li>
    </ul>
  </nav>
</div>


<div class="blog__posts">
{% for year, posts in section.pages | group_by(attribute="year") %}
  <h3 class="blog__year h1">{{ year }}</h2>

  {% for page in posts %}
    {% set page = page %}
    {% set header_level = 4 %}
    {% include "partials/post-card.html" %}
  {% endfor %}
{% endfor %}
</div>



{% endblock content %}
