{% extends "base.html" %} {% block content %}

<h2 class="h1">Bibliography</h2>

<div class="bibliography">
  <div class="book">
    <h3><a href="https://lettersfromsarajevo.com/">Letters from Sarajevo <span class="book__lang">(BCS)</span></a></h3>
    <p>ZUNS, Belgrade, 2005</p>
  </div>

  <div class="book">
    <h3><a href="https://www.youtube.com/watch?v=Zjs_NUKrOsw">Botanical Garden Blues <span class="book__lang">(BCS)</span></a></h3>
    <p>Prometej, Novi Sad, 2008</p>
  </div>

  <div class="book">
    <h3><a href="/tags/drama/">A Few Grams of Drama <span class="book__lang">(BCS)</span></a></h3>
    <p>EON Publishing, Belgrade, 2010</p>
  </div>

  <div class="book">
    <h3><a href="Just Friends Preview.jpg">Just Friends <span class="book__lang">(ENG)</span></a></h3>
    <p>Author's edition, Belgrade, 2013</p>
  </div>

  <div class="book">
    <h3><a href="The Man Preview.pdf">The Man <span class="book__lang">(BCS/ENG)</span></a></h3>
    <p>Freedom Fight Movement, Belgrade, 2013</p>
  </div>

  <div class="book">
    <h3><a href=" http://www.amazon.com/Kays-Frames-Kosta-Tadić-ebook/dp/B00M0CZOGQ">Kay's Frames <span class="book__lang">(ENG)</span></a></h3>
    <p>E-book, Modesty Comics, London, 2014</p>
  </div>
</div>


{% endblock content %}
